@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


.left-links a, .right-links a{
  text-decoration: none;
  color: gray;
}


/* 
ul.left-links li , ul.right-links li {
  list-style-type: none;
  text-decoration: none;

*/



/* flexboxes */

.flexman,.header,.content,.footer,.left-links,.right-links{
  display: flex;
}

.flexman{
  height: 100%;
  justify-content: space-between;
}
.flexman,.content{
  flex-direction: column;
  align-items: center;

}

.left-links,.right-links{
  list-style-type: none;
  gap: 10px;
  padding-inline-end: 40px;
}

.footer{
  background-color: #eee;
}

.header,.footer{

  width: 100%;
  justify-content: space-between;
}

.content{
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
button{
  padding: 6px;
}